// Override default variables before the import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap');
$font-family-sans-serif: "Roboto", sans-serif;
$logo-font-family:"Montserrat", sans-serif;
$green:   #43A521;
$primary: $green;
$dark: #282A36;
$fullscreen-height:91.6%;
.h-full{
    height: $fullscreen-height;
}

.logo-lg{
    font-family: $logo-font-family;
    font-weight: bold;
    color: $primary
}
.illustration{
    background-image: url("./assets/illustration-min.svg")!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 25rem;   
}
html, body, #root{
    width: 100vw!important;
    height: 100vh!important;
    margin: 0;
    padding: 0;
 }
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';